.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
animalPuzzle.iml
out/production/animalPuzzle/Piece.class
out/production/animalPuzzle/Side.class
out/production/animalPuzzle/animalPuzzle$1.class
out/production/animalPuzzle/animalPuzzle.class
